@font-face {
  font-family: 'Nekst-Black';
  src: url('./Nekst-Black.woff2') format('woff2'), url('./Nekst-Black.woff') format('woff'),
    url('./Nekst-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Regular.woff2') format('woff2'), url('./Gilroy-Regular.woff') format('woff'),
    url('./Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
